<a href="https://colab.research.google.com/github/Mit0501/DS-ML/blob/main/Python/PythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# inbuilt function
print("Hello World!")

Hello World!

In [ ]:
name = input("What is your name ?")

What is your name ?MITHILESH SINGH

In [ ]:
print(name)

MITHILESH SINGH

In [ ]:
type(name)

str

In [ ]:
# data types
# numerics
a = 1 # 1,2,-1,-11,.... integer
b = 1.2 # float
c = 1 +2j # complex

# boolean
is_working = True

# array data types
name = "Mithiesh Singh 1234 @#$%" # String
sample = [1, 2, 3, 4.5, 6.7, "abc", "ABC" , [1,2,3,4]] # list are mutable
country = ("abc", 1,2,3, 5.5) # tuple are immutable

In [ ]:
sample.pop()
print(sample[2])
sample

3

[1, 2, 3, 4.5, 6.7, 'abc', 'ABC']

In [ ]:
country[4]

5.5

In [ ]:
name[2]

't'

In [ ]:
dct = {"fruits": "apple", 1: ["potato",""] }
dct[1]

['potato', '']

In [ ]:
# operator
# arithmatic operator  - + - * // % **
print(2/3)  # float value also
print(4%3)  # remainder
print(2//3)  # Interger part value only

# # comparison operators < > == =< => <>
2<4

0.6666666666666666
1
0

True

In [ ]:
# logical operator - and or
2< 4 or 4> 6 or 6>8

True

In [ ]:
# assignment operator = +=
a = 1

a += 1 # a = a+1
print(a)

2

In [ ]:

salary = 100000

salary = salary+10000

In [ ]:
salary

110000

In [ ]:
salary += 10000
print(salary)

120000

In [ ]:
temp = float(input("Enter the temperature: "))

Enter the temperature: 40

In [ ]:
far = ((9/5) * temp) +32

In [ ]:
# control flow statement

# conditional statment
temp = float(input("Enter the temperature: "))
far = ((9/5) * temp) +32
face = input("color of face: ")

if far >100 and face == "red":
  print("user have a fever")
elif far < 95:
  print("user is having lwo temp")
else:
  print("user dont have fever")

Enter the temperature: 40
color of facenull
user dont have fever

In [ ]:
# Create Calculator
operator = input("Enter opearator: ")
number1 = float(input("Enter first number: "))
number2 = float(input("Enter second number: "))

if operator == "+":
    print(number1 + number2)
elif operator == "-":
    print(number1 - number2)
elif operator == "*":
    print(number1 * number2)
elif operator == "/":
    print(number1 / number2)
else:
    print("Invalid operator")

Enter opearator: *
Enter first number: 3
Enter second number: 2
6.0

In [ ]:
# looping statments  - for ,while

name_of_fruits = ['apple', 'banana', 'oranges']

for fruit in name_of_fruits:
  print(fruit)

apple
banana
oranges

In [ ]:
for num in range(10):
  print(num**num)

1
1
4
27
256
3125
46656
823543
16777216
387420489

In [ ]:
# Find all even number upto 20
for i in range(0, 21):
  if i%2==0:
    print(i,end=' ')
print()
for i in range(0,21,2):
  print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20
0 2 4 6 8 10 12 14 16 18 20

In [ ]:
x = 0
while x < 10:
  x  += 1
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# create method which will help you create a grocery list with quantity
grocery = {}
exit = True
while exit:
  key = input("Enter what you want: ")
  if key == "exit":
    break
    # continue -- to skip the remaining code inside the loop for current iteration only / next loop iteration
    # pass -- does nothing
  else:
    value = input("how much you want: ")
    grocery[key] = value


# break , continue , pass

Enter what you want: Rice
how much you want: 2 packets
Enter what you want: exit

In [ ]:
print(grocery)
print(grocery.keys())
print(grocery.values())

In [ ]:
# exception handling

while True:
  try:
    num1 = int(input("Enter you num: "))
  except Exception as e:
    print(e)
  else:
    print(num1 ** num1)
  finally:
    del num1

256

In [ ]:
for i in range(10):
  print(i)